# Normalize all text files to LF
* text=auto eol=lf

# Optionally, be specific
*.cs text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.bat text eol=crlf